.daily-activity-container {
  background-color: #fbfbfb;
  width: 83.5rem;
  border-radius: 0.5rem;
  margin-bottom: 3rem;
}

.daily-activity-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.4rem 3.8rem;
}

.daily-activity-container h2 {
  font-size: 1.5rem;
  font-weight: 500;
}

.legend-container {
  display: flex;
  color: #74798c;
}

.legend-item {
  display: flex;
  align-items: center;
}

.legend-container p {
  font-size: 1.4rem;
  margin-left: 1.2rem;
}

.circle {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
}

.circle-black {
  background-color: #282d30;
}

.circle-red {
  background-color: #e60000;
  margin-left: 3.2rem;
}

.tooltip-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #e60000;
  color: #fff;
  width: 3.9rem;
  height: 6.3rem;
}

.tooltip-text {
  font-size: 0.7rem;
  font-weight: 500;
}
