.user-average-lineChart {
  position: relative;
  background-color: #ff0000;
  border-radius: 0.5rem;
  width: 25.8rem;
}

.user-average-lineChart h2 {
  position: absolute;
  top: 2rem;
  left: 3rem;
  width: 10em;
  font-size: 1.5rem;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.6);
  line-height: 2.4rem;
}

.tooltip-average-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.9rem;
  height: 2.5rem;
  background-color: #fff;
}
